{% comment %}
Basic metadata and verification tags
{% endcomment %}
{% if site.enable_google_verification or site.enable_bing_verification %}
<meta name="google-site-verification" content="{{ site.google_site_verification }}" />
<meta name="msvalidate.01" content="{{ site.bing_site_verification }}" />
{% endif %}

{% comment %}
Standard metadata
{% endcomment %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="canonical" href="{{ page.url | absolute_url }}" />
<meta name="robots" content="index, follow" />

{% comment %}
Generate page title
{% endcomment %}
{% capture title %}
{%- if site.title == "blank" -%}{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}
{%- else -%}{{ site.title }}{%- endif -%}
{% endcapture %}

<title>
{%- if page.url == '/blog/index.html' -%}{{ site.blog_nav_title }} | {{ title }}
{%- elsif page.title != "blank" and page.url != "/" -%}
    {%- if page.title == nil or page.title == "" -%}{{ page.date | date: "%Y" }} | {{ title }}
    {%- else -%}{{ page.title }} | {{ title }}{%- endif -%}
{%- else -%}{{ title }}{%- endif -%}
</title>

{% comment %}
Basic SEO metadata
{% endcomment %}
<meta name="author" content="{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}" />
<meta name="description" content="{{ page.description | default: site.description }}" />
<meta name="keywords" content="{{ page.keywords | default: site.keywords }}" />

{% comment %}
Article metadata
{% endcomment %}
{% if page.date %}
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
{% endif %}
{% if page.last_modified_at %}
<meta property="article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}" />
{% endif %}
{% if page.tags %}
<meta name="article:tag" content="{{ page.tags | join: ', ' }}" />
{% endif %}
{% if page.category %}
<meta name="article:section" content="{{ page.category }}" />
{% endif %}

{% comment %}
OpenGraph metadata
{% endcomment %}
{% if site.serve_og_meta %}
<meta property="og:site_name" content="{{ title }}" />
<meta property="og:type" content="{{ page.layout == 'post' | ternary: 'article', 'website' }}" />
<meta property="og:title" content="{{ page.title | default: title }}" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:description" content="{{ page.description | default: site.description }}" />
<meta property="og:locale" content="{{ site.lang }}" />

{% if page.og_image or site.og_image %}
<meta property="og:image" content="{{ page.og_image | default: site.og_image | absolute_url }}" />
{% endif %}

{% if page.date %}
<meta property="og:published_time" content="{{ page.date | date_to_xmlschema }}" />
{% endif %}
{% if page.last_modified_at %}
<meta property="og:updated_time" content="{{ page.last_modified_at | date_to_xmlschema }}" />
{% endif %}

{% comment %}
Twitter Card metadata
{% endcomment %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="{{ page.url | absolute_url }}" />
<meta name="twitter:title" content="{{ page.title | default: title }}" />
<meta name="twitter:description" content="{{ page.description | default: site.description }}" />

{% if page.og_image or site.og_image %}
<meta name="twitter:image" content="{{ page.og_image | default: site.og_image | absolute_url }}" />
{% endif %}

{% if site.twitter_username %}
<meta name="twitter:site" content="@{{ site.twitter_username }}" />
<meta name="twitter:creator" content="@{{ site.twitter_username }}" />
{% endif %}
{% endif %}

{% comment %}
Schema.org metadata
{% endcomment %}
{% if site.serve_schema_org %}
{% include schema_org.html %}
{% endif %}