<span class="contact-icon text-center">
    <a href="mailto:{{ site.email | encode_email }}" name="email link"><i class="fas fa-envelope"></i></a>
    {% if site.scholar_userid %}<a rel="noopener" href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>{% endif %}
    {% if site.github_username %}<a rel="noopener" href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>{% endif %}
    {% if site.linkedin_username %}<a rel="noopener" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>{% endif %}
    {% if site.twitter_username %}<a rel="noopener" href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>{% endif %}
  </span>
  