/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }

  &.fixed-top-nav {
    padding-top: 56px;
  }

  &.sticky-bottom-footer {
    padding-bottom: 0;
  }
}

.container {
  max-width: 800px;
  position: relative;
  min-height: calc(100% - 15rem);
}

.profile img {
  width: 100%;
}
