/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

// Core colors
$cyan-color:          #2698BA !default;
$purple-color:        #B509AC !default;
$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     #1C1C1D;
$grey-900:            #212529;
$white-color:         #fff !default;
$black-color:         #000 !default;

// Theme colors
$theme-color:         lighten(#8C1515, 10%); // Cardinal Red
$theme-color-light:   lighten($theme-color, 50%);
$theme-color-dark:    darken($theme-color, 5%);

// Code background colors
$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark:  #2c3237 !default;
