/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Core colors
$cyan-color: #2698BA !default;
$purple-color: #B509AC !default;
$grey-color: #828282 !default;
$grey-color-light: color.scale($grey-color, $lightness: 81.6%);
$grey-color-dark: #1C1C1D;
$grey-900: #212529;
$white-color: #fff !default;
$black-color: #000 !default;

// Theme colors
$theme-color: color.scale(#8C1515, $lightness: 14.6%); // Cardinal Red
$theme-color-light: color.scale($theme-color, $lightness: 85.6%);
$theme-color-dark: color.scale($theme-color, $lightness: -12%);

// Code background colors
$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #2c3237 !default;
