---
---

<div class="row publication-row" id="{{entry.key}}">
  <div class="col-sm-2 abbr">
    {% if entry.abbr %} {% if site.data.venues[entry.abbr] %}
    <abbr class="my-badge">{{entry.abbr}}</abbr>
    {% else %}
    <abbr class="my-badge">{{entry.abbr}}</abbr>
    {% endif %} {% endif %}
  </div>

  <div class="col-sm-10">
    {% if entry.type == "thesis" %} {{reference}} {% else %}
    <span class="title"><b>{{entry.title}}</b></span>
    <span class="author">
      {% for author in entry.author_array %} {% if forloop.length == 1 %} {% if
      author.first contains site.scholar.first_name %}
      <b> {{author.first}} {{author.last}} </b>
      {% else %} {{author.first}} {{author.last}} {% endif %} {% else %} {%
      unless forloop.last %} {% if author.first contains site.scholar.first_name
      %}
      <b> {{author.first}} {{author.last}}</b>, {% else %} {% if
      site.data.coauthors[author.first] %}
      <a
        class="coauthorlink"
        href="{{site.data.coauthors[author.first].url}}"
        target="_blank"
        >{{author.first}} {{author.last}}</a
      >, {% else %} {{author.first}} {{author.last}}, {% endif %} {% endif %} {%
      else %} {% if author.first contains site.scholar.first_name %}
      <b> {{author.first}} {{author.last}}</b>
      {% else %} {% if site.data.coauthors[author.first] %} 
      <a
        class="coauthorlink"
        href="{{site.data.coauthors[author.first].url}}"
        target="_blank"
        >{{author.first}} {{author.last}}</a
      >
      {% else %} {{author.first}} {{author.last}} {% endif %} {% endif %} {%
      endunless %} {% endif %} {% endfor %}
    </span>

    <span class="periodical">
      {% if entry.type == "article" %}
      <em>{{entry.journal}}</em>
      {% elsif entry.type == "inproceedings" %}
      <em>In {{entry.booktitle}}</em>
      {% endif %}
    </span>
    {% endif %}

    <span class="links">
      {% if entry.abstract %} 
      [<a class="abstract publink">abstract</a>] 
      {% endif %} 
      {% if entry.arxiv %} [<a
        class="publink"
        href="http://arxiv.org/abs/{{ entry.arxiv }}"
        target="_blank"
        >arXiv</a
      >] {% endif %} {% if entry.paper %} [<a
        class="publink"
        href="{{ entry.paper }}"
        target="_blank"
        >paper</a
      >] {% endif %} {% if entry.blog %} [<a
        class="publink"
        href="{{ entry.blog }}"
        target="_blank"
        >blog</a
      >] {% endif %} {% if entry.video %} [<a
        class="publink"
        href="{{ entry.video }}"
        target="_blank"
        >video</a
      >] {% endif %} {% if entry.website %} [<a
        class="publink"
        href="{{ entry.website }}"
        target="_blank"
        >website</a
      >] {% endif %} {% if entry.supp %} [<a
        class="publink"
        href="{{ entry.supp | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}"
        target="_blank"
        >supp</a
      >] {% endif %} {% if entry.poster %} [<a
        class="publink"
        href="{{ entry.poster | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}"
        target="_blank"
        >poster</a
      >] {% endif %} {% if entry.slides %} [<a
        class="publink"
        href="{{ entry.slides | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}"
        target="_blank"
        >slides</a
      >] {% endif %} {% if entry.code %} [<a
        class="publink"
        href="{{ entry.code }}"
        target="_blank"
        >code</a
      >] {% endif %}
      <!-- {% if entry.bib %} 
      [<a class="bib publink">bibtex</a>] 
      {% endif %}  -->
    </span>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <span class="abstract hidden">
      <p> <strong>TLDR: {{ entry.tldr }}</strong> </p>
      <p>{{entry.abstract }}</p>
    </span>
    {% endif %} 
    <!-- {% if entry.bib %}
    <span class="bib hidden">
      <pre>{{entry.bib}}</pre>
    </span>
    {% endif %} -->
  </div>
</div>